---
layout: default
title: Portfolio
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    
</head>
<body>
<div class="textBox" id="bigBox">
    <div class="textBox" id="desc">
        <h1>About Me</h1>
        <p>Hello! I'm Adele, a 4th year student at Abertay University, studying Computer Games Applications Development (CGAD). I am also a DARE Academy Finalist!</p>
        <p>I enjoy both Programming and Designing games, and have occasionally delved into Art for some projects.</p>
        <p>Send an email to adelebauer13@gmail.com if you are interested in contacting me!</p>
    </div>
    <div class="textBox" id="skills">
        <h1>Skills</h1>
        <div class="divider">
            <p>C#</p>
            <p>C++</p>
            <p>Lua</p>
            <p>Javascript</p>
            <p>Game Design</p>

        </div>
    </div>
        <div class="textBox" id="experience">
        <h1>Software</h1>
        <div class="divider">
            <p>Unity</p>
            <p>Unreal Engine</p>
            <p>Visual Studio</p>
            <p>Jira</p>
            <p>Aseprite</p>
        </div>
    </div>
</div>

<div class="projectContainer">
    {% include projects/eczt.html %}
    {% include projects/pixelshader.html %}
    {% include projects/hexwitchcat.html %}
</div>


</body>
</html>