{% capture hexcat_image %}
    <img src="assets\images\hexwitchcat.png">
{% endcapture %}

{% include card.html 
    title="Hex the Witch Cat" 
    text="Hex the Witch Cat is a demo of a turn based RPG that I made for a uni module in 1st year.<br><br>
    It is programmed entirely by me, in SFML. The art and animations of the characters and enemies is also created by me<br><br>
    For my 4th year Audio Programming module I improved on the game by composing combat music that dynamically changes the instruments used based on circumstances in game."
    gif="assets\images\hexwitchcat2.png"
    video=hexcat_image
%}