{% capture poster_image %}
    <img src="assets\images\CMP400_Adele_Poster.png">

{% endcapture %}

{% include card.html 
    title="Wave Function Collapse" 
    text="For my Honors Project, I researched and implemented Wave Function Collapse, and added custom constraints to affect level design. This was in an effort to see if these constraints would affect the generated map diversity.<br>"
    link="/HonorsDissertation.html"
    linktext="Read my Dissertation!<br><br>"
    video=poster_image
    gif="assets\images\WFC_Display.png"
%}